<section id="projects" class="projects-section">

  <h2 class="projects-header">My Projects</h2>

  <div class="projects-grid">

    <a
    href=""
    target="_blank"
    class="project-tile"
  >
    <img
      class="project-image"
      src="../../assets/images/ngTodoApp.png"
      alt="project"
    />
    <p class="project-title">
      <span >NG ToDo App</span>
    </p>
  </a>

  <a
  href=""
  target="_blank"
  class="project-tile"
  >
    <img
    class="project-image"
    src="../../assets/images/BoardHub.png"
    alt="project"
  />
    <p class="project-title">
    <span>BoardHub</span>
    </p>
  </a>

  <a
  href=""
  target="_blank"
  class="project-tile"
  >
    <img
    class="project-image"
    src="../../assets/images/NgWeatherNews.png"
    alt="project"
  />
    <p class="project-title">
    <span>NG Weather + News</span>
    </p>
  </a>

  <a
  href=""
  target="_blank"
  class="project-tile"
  >
    <img
    class="project-image"
    src="../../assets/images/ngWikiSearch.PNG"
    alt="project"
  />
    <p class="project-title">
    <span>NG Wiki Search</span>
    </p>
  </a>

  <a
  href=""
  target="_blank"
  class="project-tile"
  >
    <img
    class="project-image"
    src="../../assets/images/passwordGenerator.png"
    alt="project"
  />
    <p class="project-title">
    <span>Password Generator App</span>
    </p>
  </a>

  <a
  href=""
  target="_blank"
  class="project-tile"
  >
    <img
    class="project-image"
    src="../../assets/images/ngTicTacToe.PNG"
    alt="project"
  />
    <p class="project-title">
    <span>NG Tic Tac Toe</span>
    </p>
  </a>

  </div>

</section>
