<section id="projects" class="projects-section">

  <h2 class="projects-header">My Projects</h2>

  <div class="projects-grid">

    <a
    href="https://ng-todo-app-85e59.web.app/"
    target="_blank"
    class="project-tile"
  >
    <img
      class="project-image"
      src="../../assets/images/ngTodoApp.png"
      alt="project"
    />
    <p class="project-title">
      <span >NG ToDo App</span>
    </p>
  </a>

  <a
  href="https://wiki-search-f7201.web.app/"
  target="_blank"
  class="project-tile"
  >
    <img
    class="project-image"
    src="../../assets/images/WikiSearch.PNG"
    alt="project"
  />
    <p class="project-title">
    <span>Wiki Search</span>
    </p>
  </a>

  <a
  href="https://board-hub-c6adf.web.app/"
  target="_blank"
  class="project-tile"
  >
    <img
    class="project-image"
    src="../../assets/images/BoardHub.png"
    alt="project"
  />
    <p class="project-title">
    <span>BoardHub</span>
    </p>
  </a>


  <a
  href="https://password-generator-6cd76.web.app/"
  target="_blank"
  class="project-tile"
  >
    <img
    class="project-image"
    src="../../assets/images/passwordGenerator.png"
    alt="project"
  />
    <p class="project-title">
    <span>Password Generator</span>
    </p>
  </a>


  <a
  href="https://github.com/alexaveldanez/ng-weather-news"
  target="_blank"
  class="project-tile"
  >
    <img
    class="project-image"
    src="../../assets/images/NgWeatherNews.png"
    alt="project"
  />
    <p class="project-title">
    <span>NG Weather + News</span>
    </p>
  </a>


  </div>

</section>
